<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%highlight(%msg) %n</Pattern>
        </encoder>
    </appender>


    <appender name="files" class="ch.qos.logback.core.FileAppender">
        <file>logs/protege.log</file>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0}    %msg%n</Pattern>
        </encoder>
    </appender>


    <root level="info">
        <appender-ref ref="stdout" />
        <appender-ref ref="files"/>
    </root>


</configuration>