<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RootDirPath" value="d:\Users\Documents\工作\灵玖软件\组件和案例\LingjoinSoft\KeyExtract\"/>
    <add key="LibPath" value="Lib\win64\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
